:root {
    --base-font: 1.6rem;
    --clr-bg: #f5f5f5   ;
    --clr-hdr: #78B4BE;
    --clr-txt: #2c3f52;
    --clr-ctn: #78B4BE;
    --clr-txt2: #3d3d3d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'arcadeclassicregular';
}
h3{
    font-size: 28px;
    text-align: center;
}
h4{
    font-size: 100px;
    text-align: center;
}
h5{
    font-size: 35px;
    text-align: center;
}
/* header css */
header {
    flex: none;
    display: flex;
    justify-content: center;
    background-color: var(--clr-hdr);
}

.HeadingText {
    color: var(--clr-txt);
}

#title h2{
    text-align: center;
    font-size: 75px;
}
#title h6{
    font-size: 75px;
}
h7{
    font-size: 30px;
    text-align: center;
}
#title{
    font-size: 40px;
}

#content{
    font-size: 20px;
}
/* carousel css */
.entire-cards-section {
    background-color: #f5f5f5; /* Set your desired background color */
}
.entire-cards-section img{
    object-fit: fill;
    border: black solid 2px;
    width: 610px;
    height: 550px;
    float: right;
    margin-right: -5px;
    margin-top: -5px;
}

#carousel {
    background-color: var(--clr-bg);
    height: 100%;
}

ul.slides {
    display: block;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide-content {
    position: absolute;
    width: 100%;
    opacity: 0;
    color: var(--clr-txt2);
}

.slide-content div {
    margin-inline: 5rem;
    background-color: var(--clr-ctn);
    margin-block: 2rem;
    padding: 2px;
    border-radius: 0.35rem;
    height: 200px;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: var(--clr-txt2);
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0.5;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-content:hover+.carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 5%;
    height: 20%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 5%;
    height: 20%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    padding: 10px;
    margin-top: 500px;
    margin-bottom: 0px;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--clr-txt2);
    opacity: 0.5;
    margin: 10px;
    cursor: pointer;
}

input:checked+.slide-container .slide-content {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
    display: block;
}

input#content-1:checked~.carousel-dots label#content-dot-1,
input#content-2:checked~.carousel-dots label#content-dot-2,
input#content-3:checked~.carousel-dots label#content-dot-3,
input#content-4:checked~.carousel-dots label#content-dot-4,
input#content-5:checked~.carousel-dots label#content-dot-5,
input#content-6:checked~.carousel-dots label#content-dot-6 {
    opacity: 1;
}

input:checked+.slide-container .nav label {
    display: block;
}

#sponsors {
    flex: auto;
}
/*carousel 4*/

.Form_Link {
    margin-top: 60px;
    /* padding: 10px; */
    font-size: 60px;
    /* border-color: blue; */
    /* border-style: solid; */
    /* border-width: 10px; */
    /* margin: 50px; */
    text-align: center;
}

/* footer css */

/*sponsors*/
.entire-sponsor-section {
    background-color: #f5f5f5; /* Set your desired background color */
    padding: 0px; /* Add padding as needed */
    margin-top: 70px;
    text-align: center;
}

.HeadingText {
    color: #3d3d3d;
    font-family: 'arcadeclassicregular';
    text-align: center;
}


.sponsors {
    align-items: center;
    display:flex;
    justify-content: center;
}

img {
    height: 210px;
    width: 210px;
    object-fit: scale-down;
}

.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 24px),
            6px calc(100% - 24px),
            6px calc(100% - 12px),
            12px calc(100% - 12px),
            12px calc(100% - 6px),
            24px calc(100% - 6px),
            24px 100%,
            calc(100% - 24px) 100%,
            calc(100% - 24px) calc(100% - 6px),
            calc(100% - 12px) calc(100% - 6px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 6px) calc(100% - 12px),
            calc(100% - 6px) calc(100% - 24px),
            100% calc(100% - 24px),
            100% 24px,
            calc(100% - 6px) 24px,
            calc(100% - 6px) 12px,
            calc(100% - 12px) 12px,
            calc(100% - 12px) 6px,
            calc(100% - 24px) 6px,
            calc(100% - 24px) 0px,
            24px 0px,
            24px 6px,
            12px 6px,
            12px 12px,
            6px 12px,
            6px 24px,
            0px 24px);
    position: relative;
}

.pixel-corners {
    border: 6px solid transparent;
}

.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}

.pixel-corners--wrapper .pixel-corners {
    display: block;
    background-color: white;
    clip-path: polygon(6px 24px,
            12px 24px,
            12px 12px,
            24px 12px,
            24px 6px,
            calc(100% - 24px) 6px,
            calc(100% - 24px) 12px,
            calc(100% - 12px) 12px,
            calc(100% - 12px) 24px,
            calc(100% - 6px) 24px,
            calc(100% - 6px) calc(100% - 24px),
            calc(100% - 12px) calc(100% - 24px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 24px) calc(100% - 12px),
            calc(100% - 24px) calc(100% - 6px),
            24px calc(100% - 6px),
            24px calc(100% - 12px),
            12px calc(100% - 12px),
            12px calc(100% - 24px),
            6px calc(100% - 24px));
}

.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 24px),
            6px calc(100% - 24px),
            6px calc(100% - 12px),
            12px calc(100% - 12px),
            12px calc(100% - 6px),
            24px calc(100% - 6px),
            24px 100%,
            calc(100% - 24px) 100%,
            calc(100% - 24px) calc(100% - 6px),
            calc(100% - 12px) calc(100% - 6px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 6px) calc(100% - 12px),
            calc(100% - 6px) calc(100% - 24px),
            100% calc(100% - 24px),
            100% 24px,
            calc(100% - 6px) 24px,
            calc(100% - 6px) 12px,
            calc(100% - 12px) 12px,
            calc(100% - 12px) 6px,
            calc(100% - 24px) 6px,
            calc(100% - 24px) 0px,
            24px 0px,
            24px 6px,
            12px 6px,
            12px 12px,
            6px 12px,
            6px 24px,
            0px 24px,
            0px 50%,
            6px 50%,
            6px 24px,
            12px 24px,
            12px 12px,
            24px 12px,
            24px 6px,
            calc(100% - 24px) 6px,
            calc(100% - 24px) 12px,
            calc(100% - 12px) 12px,
            calc(100% - 12px) 24px,
            calc(100% - 6px) 24px,
            calc(100% - 6px) calc(100% - 24px),
            calc(100% - 12px) calc(100% - 24px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 24px) calc(100% - 12px),
            calc(100% - 24px) calc(100% - 6px),
            24px calc(100% - 6px),
            24px calc(100% - 12px),
            12px calc(100% - 12px),
            12px calc(100% - 24px),
            6px calc(100% - 24px),
            6px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #324552;
    display: block;
    pointer-events: none;
}

.pixel-corners::after {
    margin: -6px;
}
/*end of sposnors*/

footer {
    flex: none;
}

.DuckImage img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('../public/ARCADECLASSIC.TTF');
}