:root {
    --max-width: 1200px;
    --page-bg: #CFCFCF;
    --wrapper-bg: #3d3d3d; /* your main color */
    --white-text: #FFFFFF; /* secondary color */
    --link-text: aquamarine; /* background color */
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color: var(--page-bg);
    justify-content: center;
}

body {
    margin: 0 auto;
}

/* Navigation Header */
nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 3rem;
    padding-top: 0;
    margin-top: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: black;
    background-color: white;
}

.title {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}

.title img {
    width: 100%;
    border-radius: .5rem;
    margin: 0 .5rem;
    height: auto;
    display: block;
}

#titleText {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: 2;
    padding: .5rem 1rem;
    background-color: black;
    text-align: center;

    border-radius: .5rem;
    margin: 0 .5rem;
}

#titleText h4 {
    font-size: 1.5rem;
    margin: 0 0;
    color: white;
}

#titleText a {
    font-size: 1rem;
    margin: 0 0;
    color: aquamarine;
}

.wrapper {
    max-width: var(--max-width);
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.wrapper img {
    width: 50%;
    border-radius: .5rem;
    margin: 0rem .5rem;
    height: auto;
    object-position: center;
    object-fit: cover;
}


.wrapper .wrapperText {
    width: 50%;
    border-radius: .5rem;
    margin: 0rem .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--wrapper-bg);
    color: var(--white-text);
}

.wrapper .wrapperText a {
    text-decoration: none;
    color: var(--link-text);
}

.wrapper iframe {
    width: 50%;
    border-radius: .5rem;
    margin: 0 .5rem;
    height: auto;
}

.imageSlider {
    position: relative;
    max-width: var(--max-width);
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 1rem auto;
}

.mySlides {
    width: 50%;
    border-radius: .5rem;
    margin: 0 .5rem;
    display: none;
    height: auto;
    object-position: center;
    object-fit: cover;
}

.mySlides.active {
    display: block;
}

.scheduleTable {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 .5rem;
    width: 50%;
    height: 20rem;
}

.scheduleTable thead tr {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 1rem;
    font-size: 1.5rem;
}

.scheduleTable tbody {
    text-align: center;
}

.scheduleTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.scheduleTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.scheduleTable tbody tr:last-of-type {
    border-bottom: 0px solid black;
}


.sponsorWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.sponsorWrapper #sponsors {
    width: 90%;
    display: flex;
    justify-self: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 1rem;
}

.sponsorWrapper #sponsors img {
    flex: 1 1 0;
    max-height: 10rem;
    width: auto;
    object-fit: contain;
}

footer {
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-top: 3rem;
    text-align: center;
    background-color: black;
    color: white;
}
